<div class="container">
    <div class="row" style="height: 180px;">
        <div class="col-sm ms-5 me-5">
            <div class="card h-100">
                <div class="card-body" style="text-align: center; vertical-align: middle;">
                    <h5 class="card-title">Dev</h5>
                    <a href="#" class="stretched-link">See code</a>
                </div>
            </div>
        </div>
        <div class="col-sm ms-5 me-5">
            <div class="card h-100">
                <div class="card-body" style="text-align: center; vertical-align: middle;">
                    <h5 class="card-title">Graphic Design</h5>
                    <a href="#" class="stretched-link">See illustrations</a>
                </div>
            </div>
        </div>
        <div class="col-sm ms-5 me-5">
            <div class="card h-100">
                <div class="card-body" style="text-align: center; vertical-align: baseline;">
                    <h5 class="card-title">Logo Design</h5>
                    <a href="#" class="stretched-link">See logos</a>
                </div>
            </div>
        </div>
    </div>
</div>
