<body class="m-5" style="color: white;">
    <div class="container p-3">
        <div class="row m-3">
            <div class="col-sm">
                <h1>ADAM NORTON</h1>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-xs-5">
                <p>Aspiring Software Engineer</p>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-sm">
                <form action="">
                    <button class="btn btn-primary">
                        See Work
                    </button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    
  </body>
